.answer{
    background-color: none;
    background: none;
    border: 3px solid #4D5B9E;
    color: #293264;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: 500;
    border-radius: 0.6vw;
    width: fit-content;
    min-width: 10vw;
    height: 5vh;
    font-size: 1vw;
    margin: 0.5vh 1vw 0 1vw;
}
.answerClicked{
/*    background-color: #D6DBF5;*/
    background-color: #bac0df;
}
.answerTrue{
    background-color: #6ebb7e;
}
.answerBlank{
    opacity: 0.5;
}
.answerRight{
    background-color: #94D7A2;
}
.answerFalse{
    background-color: #F8BCBC;
}
body{
    overflow-x: hidden;
    margin: 0;
    background-color: #F5F7FB;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
main{
    width:60vw;
    padding-left: 20vw;
    padding-top: 0.5vh;
    text-align: center;
}
.title{
    font-weight: 1000;
    font-size: max(4vw, 4rem);
    margin: 0;
    letter-spacing: 0.5vw;
    color: #293264;
}
.blob1{
    position: absolute;
    width: 50vw;
    height: 50vw;
    left: 62.24%;
    right: -62.24%;
    top: -56%;
    bottom: -161.16%;
    z-index: -1;

    border-radius: 50% 50% 74% 26% / 30% 39% 61% 70% ;
    background: #FFFAD1;
    transform: rotate(-128.49deg);
}
.blob2{
    position: absolute;
    width: 50vw;
    height: 50vw;
    left: -20%;
    right: 0%;
    top: 20%;
    bottom: 0%;
    border-radius: 50% 50% 74% 26% / 30% 39% 61% 70% ;

    background: #DEEBF8;
    z-index: -1;
    transform: rotate(-128.49deg);
}
.field{
    padding: 0 0 1vw 0;
    margin: 0;
}
.fieldTitle{
    color: #293264;
    letter-spacing: 0.05vw;
}
hr{
    margin-top: 4vh;
    border: 2px solid #DBDEF0;
    background-color: #DBDEF0;
    width: 50vw;
}
.submit{
    width: 16vw;
    height: 8vh;
    margin-top: 3vh;
    color: white;
    font-size: 2vw;
    font-weight: 700;
    background-color: #4D5B9E;
    border: none;
    border-radius: 1vw;
}
.settings{
    position: absolute;
    right: 5vw;
    top: 1vh;
    width: max(3vw, 3rem);
    object-fit: cover;
}
.settings:hover{
    cursor: pointer;
}
.background-blass{
    position: absolute;
    background-color: #293264;
    opacity: 0.5;
    left: 0;
    top: 0;
    width: 100vw;
    height: 141vh;
}
.confirm{
    position: fixed;
    margin-left: 10vw;
    margin-top: 5vh;
    width: 40vw;
    height: 30vh;
    background-color: #4D5B9E;
    border-radius: 2vw;
    border: #293264 solid 0.3vw;
}
.confirm-title{
    color: white;
    width: 30vw;
    font-size: 1.8vw;
    margin: 2vh auto 0 auto;
}
.confirmBtn{
    width: 12vw;
    height: 8vh;
    font-size: 1.6vw;
    border-radius: 0.6vw;
    border: none;
    font-weight: 700;
    color: #293264;
    margin: 6vh 2vw 0 2vw;
}
.btn-green{
    background-color: #6ebb7e;
}
.btn-blass{
    background-color: #F8BCBC;
    border: #6ebb7e solid 0.2vw;
}
.custom-select{
    position: relative;
    width: fit-content;
    margin: 11vh auto 0 auto;
}
.startTitle{
    font-size: 6vw;
    margin-top: 6vh;
    color: #293264;
}
.selection{
    width: 25vw;
    min-width: 400px;
    height: 5vh;
    border-radius: 1vw;
    color: #293264;
    font-size: max(1.5vw, 30px);
    background-color: #F5F7FB;
    border: solid #293264 3px;
    padding: 0 0 0 1vw;
}
.custom-arrow{
    position: absolute;
    top: 0;
    right: 0;
    display: block;
    background-color: #293264;
    border-radius: 0 1vw 1vw 0;
    height: 100%;
    width: max(2vw, 40px);
    pointer-events: none;
}
.custom-arrow::before,
.custom-arrow::after {
    --size: 0.6vw;

    content: "";
    position: absolute;
    width: 0;
    height: 0;

    left: 46%;
    top: 50%;
    transform: translate(-50%, -50%);
}
.custom-arrow::after{
    border-left: var(--size) solid transparent;
    border-right: var(--size) solid transparent;
    border-top: var(--size) solid #F5F7FB;

    top: 52%;
}
option{
    height: 3vh;
    font-size: 1vw;
}
.startBtn{
    transition: 0.1s;
    display: block;
    width: 30vw;
    height: 8vh;
    margin-top: 10vh;
    margin-bottom: 4vh;
    margin-left: 15vw;
    color: white;
    font-size: 2vw;
    font-weight: 700;
    letter-spacing: 0.2vw;
    background-color: #4D5B9E;
    border: none;
    border-radius: 1vw;
}
.startBtn:active{
    transform: scale(0.95);
}
.result{
    color: #293264;
    margin: 0.5vw;
    font-size: 3vw;
}
.radios{
    margin-top: 3vh;
    height: 5vh;
    width: fit-content;
    display: inline-flex;
    overflow: hidden;
    border-radius: 2vw;
}
.radio__input{
    display: none;
}
.label{
    cursor: pointer;
    font-size: 1.5vw;
    font-weight: 700;
    padding: 0.2vh 1vw 0 1vw;
    color: #293264;
    transition: 0.1s;
}
.label:not(:last-of-type){
    border-right: 5px solid #293264;
}
.radio__input:checked + .label {
    background: #4D5B9E;
    color: #F5F7FB;
}
@media (max-width: 500px) {
    body{
        overflow-x: hidden;
    }
    .answer{
        border: 2px solid #4D5B9E;
        font-weight: 500;
        border-radius: 2vw;
        min-width: 90vw;
        height: fit-content;
        min-height: 4vh;
        font-size: 4vw;
        margin: 0.3vh auto 0 auto;
    }
    main{
        overflow-x: hidden;
        width:100vw;
        padding-left: 0vw;
        padding-top: 0.5vh;
        text-align: center;
    }
    .answers{
        display: grid;
        padding: 0;
        margin: 0;
    }
    .title{
        font-size: 12vw;
    }
    /*  ----------  */
    .field{
        padding: 0 0 1vw 0;
        margin: 0;
    }
    .fieldTitle{
        width: 95vw;
        margin: 0 auto 1vh auto;
        font-size: 5vw;
        color: #293264;
    }
    hr{
        margin-top: 2vh;
        border: 1.5px solid #DBDEF0;
        width: 70vw;
    }
    .submit{
        width: fit-content;
        height: 6vh;
        margin: 1.5vh 0 2.5vh 0;
        font-size: 8vw;
        font-weight: 600;
        border-radius: 3vw;
        padding: 0 4vw 0 4vw;
    }
    .blob1{
        display: none;
    }
    .blob2{
        display: none;
    }
    .startTitle{
        margin-top: 6vh;
        font-size: 18vw;
    }
    .custom-select{
        margin-top: 10vh;
    }
    .startBtn{
        width: 90vw;
        font-size: 9vw;
        border-radius: 4vw;
        letter-spacing: 1.4vw;
        margin-top: 8vh;
        margin-left: 5vw;
    }
    option{
        font-size: 5vw;
    }
    .selection{
        min-width: 90vw;
        border-radius: 3vw;
        font-size: 6.5vw;
    }
    .custom-arrow{
        border-radius: 0 3vw 3vw 0;
    }
    .custom-arrow::after{
        --size: 2.5vw;
    }
    .confirm{
        width: 90vw;
        height: 20vh;
        margin-left: 4vw;
        margin-top: 15vh;
        border-radius: 5vw;
        border: 1vw solid #293264;
        box-shadow: none;
    }
    .confirm-title{
        font-size: 5.5vw;
        width: 85vw;
    }
    .confirmBtn{
        width: 40vw;
        height: 7vh;
        margin-top: 2.5vh;
        border-radius: 3vw;
        font-size: 6vw;
    }
    .btn-blass{
        border: none;
    }
    .result{
        font-size: 8vw;
        margin: 1vw;
    }
    /* ------------------ */
    .radios{
        margin-top: 2vh;
        border-radius: 6vw;
    }
    .radio__input{
        display: none;
    }
    .label{
        font-size: 5vw;
        padding: 0.8vh 3vw 0 3vw;
    }
    .label:not(:last-of-type){
        border-right: 5px solid #293264;
    }
    .radio__input:checked + .label {
        background: #4D5B9E;
        color: #F5F7FB;
    }
}