.answer{
    background-color: none;
    background: none;
    border: 3px solid #4D5B9E;
    color: #293264;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: 500;
    border-radius: 0.6vw;
    width: fit-content;
    min-width: 10vw;
    height: 5vh;
    font-size: 1vw;
    margin: 0.5vh 1vw 0 1vw;
}
.answerClicked{
/*    background-color: #D6DBF5;*/
    background-color: #bac0df;
}
.answerTrue{
    background-color: #6ebb7e;
}
.answerBlank{
    opacity: 0.5;
}
.answerRight{
    background-color: #94D7A2;
}
.answerFalse{
    background-color: #F8BCBC;
}
body{
    overflow-x: hidden;
    margin: 0;
    background-color: #F5F7FB;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
main{
    width:60vw;
    padding-left: 20vw;
    padding-top: 0.5vh;
    text-align: center;
}
.title{
    font-weight: 1000;
    font-size: 4vw;
    margin: 0;
    letter-spacing: 0.5vw;
    color: #293264;
}
.blob1{
    position: absolute;
    width: 50vw;
    height: 50vw;
    left: 62.24%;
    right: -62.24%;
    top: -56%;
    bottom: -161.16%;
    z-index: -1;

    border-radius: 50% 50% 74% 26% / 30% 39% 61% 70% ;
    background: #FFFAD1;
    transform: rotate(-128.49deg);
}
.blob2{
    position: absolute;
    width: 50vw;
    height: 50vw;
    left: -20%;
    right: 0%;
    top: 20%;
    bottom: 0%;
    border-radius: 50% 50% 74% 26% / 30% 39% 61% 70% ;

    background: #DEEBF8;
    z-index: -1;
    transform: rotate(-128.49deg);
}
.field{
    padding: 0 0 1vw 0;
    margin: 0;
}
.fieldTitle{
    color: #293264;
    letter-spacing: 0.05vw;
}
hr{
    margin-top: 4vh;
    border: 2px solid #DBDEF0;
    background-color: #DBDEF0;
    width: 50vw;
}
.submit{
    width: 16vw;
    height: 8vh;
    margin-top: 3vh;
    color: white;
    font-size: 2vw;
    font-weight: 700;
    background-color: #4D5B9E;
    border: none;
    border-radius: 1vw;
}
@media (max-width: 500px) {
    body{
        overflow-x: hidden;
    }
    .answer{
        border: 2px solid #4D5B9E;
        font-weight: 500;
        border-radius: 2vw;
        min-width: 90vw;
        height: fit-content;
        min-height: 4vh;
        font-size: 4vw;
        margin: 0.5vh 1vw 0 1vw;
    }
    main{
        overflow-x: hidden;
        width:100vw;
        padding-left: 0vw;
        padding-top: 0.5vh;
        text-align: center;
    }
    .answers{
        display: grid;
        padding: 0;
        margin: 0;
    }
    .title{
        font-size: 12vw;
    }
    /*  ----------  */
    .field{
        padding: 0 0 1vw 0;
        margin: 0;
    }
    .fieldTitle{
        font-size: 4.5vw;
        color: #293264;
    }
    hr{
        margin-top: 2vh;
        border: 1.5px solid #DBDEF0;
        background-color: #DBDEF0;
        width: 70vw;
    }
    .submit{
        width: fit-content;
        height: 6vh;
        margin-top: 1.5vh;
        font-size: 8vw;
        font-weight: 600;
        border-radius: 3vw;
        padding: 0 4vw 0 4vw;
    }
    .blob1{
        display: none;
    }
    .blob2{
        display: none;
        font-size: 1px;
    }
}